@mixin reg {
    font-family: MerriweatherRegular,sans-serif; 
    font-weight: 400;
}
@mixin ital {
    font-family: MerriweatherItalic,sans-serif; 
    font-weight: 400;
}
@mixin Light {
    font-family: MerriweatherLight,sans-serif; 
    font-weight: 300;
}
@mixin lightItal {
    font-family: MerriweatherLightItalic,sans-serif; 
    font-weight: 300;
}
@mixin bold {
    font-family: MerriweatherBold,sans-serif; 
    font-weight: 700;
}
$text-color:#3c3c3c;
.header{
height:100vh;
background-image: url(../img/foodiesfeed_com_decorativ.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
padding-top: 3rem;
}
.header-mnu{
    text-align: right;
    }
   
    .header-mnu li{
        display: inline-block;
        border: 0.75px solid transparent;
        padding: 1rem 1.5rem;
    }
    .header-mnu li:hover{
        border: 0.75px solid $text-color;
        transition: all .2s;
    }
    .header-mnu a{
        color: $text-color;
        @include reg;
        font-size:1.12rem;
        text-decoration: none;
    }
.header-caption{
    text-align: center;
    margin-top: 10rem;
}
.header-caption h1::after{
    content: '';
    position:absolute;
    bottom: -5rem;
    left: 50%;
    margin-left:-125px;
    width: 253px;
    height: 33px;
    background-image: url('../img/decoration-1.png');
    background-size: cover;
}

.header-caption h1{
    @include Light;
    color: $text-color;
    font-size: 2.5rem;
}
